#hero {
  overflow: hidden;
}

.hero-img img {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

@media (max-width: 991px) {
  .hero-img img {
    border-radius: 0;
    max-height: 300px;
  }
}

@media (max-width: 576px) {
  #hero {
    text-align: center;
  }
}
